@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
h1{
    font-size: 75px;
    color: #3953a4;
    font-family: 'Kanit', sans-serif;
}
.logo{
    margin-left: 1455px;
}
.logo h5{
    display: inline;
    color: #3953a4;
}
.logo-for-phone{
    text-align: center;
    display: none;
}
.logo-for-phone h5{
    display: inline;
    color: #3953a4;
}
.align-center-card{
    text-align: center;
}
.padding-card{
    padding: 70px 0px 70px 0px;
}
h2{
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
}
.font-size{
    font-size: 30px;
}
h3{
    font-size: 50px;
    text-align: center;
}
.ul{
    list-style-type: unset;
}
.button{
    border: 1px solid;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    color: black;
}
.button:hover{
    background-color: #ddd;
}
p{
    font-size: large;
}
.col-lg-3{
    padding: 30px;
}
.col-lg-4{
    padding: 50px;
}
@media only screen and (min-width:1200px) and (max-width:1900px) {
    .logo{
        display: none;
    }
}
@media only screen and (min-width:500px) and (max-width:1199px) {
    h1{
        font-size: 45px;
    }
    .logo{
        display: none;
    }
    h5{
        font-size: 15px;
    }
    .padding-card{
        padding: 40px 0px 40px 0px;
    }
    .col-lg-3{
        padding: 0px;
    }
}
@media only screen and (min-width:300px) and (max-width:800px) {
    h1{
        font-size: 25px;
    }
    .logo{
        display: none;
    }
    .logo-for-phone{
        display: block;
    }
    .padding-card{
        padding: 40px 0px 40px 0px;
    }
    .col-lg-4{
        padding: 10px 80px 10px 80px;
    }
    .col-lg-3{
        padding: 10px 80px 10px 80px;
    }
    .col-md-6-padding{
        padding: 0px 80px 0px 80px;
    }
}
