.h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #2d2c40;
    padding: 0px;
    margin: 0px;
}
.color-font{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #2d2c40;
    font-size: 35px;
    padding: 0px;
    margin: 0px;
}
.color-font-02{
    color: #535353;
}
.img-border{
    border-radius: 15px;
}
p{
    font-size: larger;
}